$border: 1px solid;
$font: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin flex-direction($direction) {
  @if $direction == column {
    -webkit-flex-direction:vertical;
    -moz-flex-direction:vertical;
    -ms-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction:column;
  } @else {
    -webkit-flex-direction:horizontal;
    -moz-flex-direction:horizontal;
    -ms-flex-direction:row;
    -webkit-flex-direction:row;
    flex-direction:row;
  }
}

@mixin justify-content($value) {
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value) {
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin align-content($value) {
  -webkit-align-content: $value;
  align-content: $value;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/* begin css declarations */

body {
  background-color: #DEDEDE;
  padding: 0;
  font-size: 100%;

  @include flexbox();
  @include flex-direction(column);
}

header, section, footer {
  max-width: 1600px;
  background-color: #FFF;

  @include flex(1);
}

/* header styling */

header {
  height: 127px;

  div {
    padding: 0 20em;  

    .logo {
      text-decoration: none;
      font: {
        family: $font;
        size: 1.1em;
      }
      color: #030303;
      .red {
        color: #CA0000;
      }
    }

/* nav links */

    ul {
      color: #CCC;
    
      li {
        display: inline-block;
        list-style-type: none;

        a {
          text-decoration: none;
          color: #030303;
          font: {
            size: 1.125em;
          }
        }

        .current {
          color: #999;
        }

      }

    }
    @include flexbox();
    @include flex(1);
    @include justify-content(space-between);
    @include align-items(center);
  }
  @include justify-content(space-around);
  @include align-items(center);
  @include flexbox();
}

/* intro styling */

.intro {
  height: 407px;
  border: {
    top: $border #CCCCCC;
    bottom: $border #CCCCCC;
  }
  div {
    padding: 5.625em 0 6.25em;

    .intro-head {
      font: {
        size: 2.2em;
        family: $font;
        weight: 600;
      }
      color: #030303;
      margin: 0;
    }
    
    .intro-mission {
      position: relative;
      bottom: 7px;
      text-align: center;
      color: #030303;
      line-height: 1.6em;
      font: {
        size: .95em;
        family: $font;
      }
      margin: 0;
      padding: 0 26.25em;
    }

    .intro-hire-me {
      background-color: #222;
      color: #FFF;
      width: 140px;
      height: 45px;
      border-style: none;
      font: {
        family: $font;
        size: 1.05em;
      }
      vertical-align: center;

      @include border-radius(5px)
    }
    
    @include flexbox();
    @include flex(1);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
  }

  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
}

.latest-work {
  height: 506px;
}

.about {
  height: 360px;
  background-color: #E5E5E5;
}

footer {
  height: 210px;
}

@media only screen and (min-width: 1600px) {
    /* Style adjustments for viewports that meet the condition */
    header, section, footer {
        width: 1600px;
    }
    
    body {
      padding: 0;

      @include align-items(center);
    }
}