$border: 1px solid;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin flex-direction($direction) {
  @if $direction == column {
    -webkit-flex-direction:vertical;
    -moz-flex-direction:vertical;
    -ms-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction:column;
  } @else {
    -webkit-flex-direction:horizontal;
    -moz-flex-direction:horizontal;
    -ms-flex-direction:row;
    -webkit-flex-direction:row;
    flex-direction:row;
  }
}

@mixin justify-content($value) {
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value) {
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin align-content($value) {
  -webkit-align-content: $value;
  align-content: $value;
}

@mixin border-sides($color) {
  border: {
    left: $border $color;
    right: $border $color;
  }
}

body {
  background-color: #DEDEDE;
  padding: 0;

  @include flexbox();
  @include flex-direction(column);
}

header, section, footer {
  max-width: 1200px;
  background-color: #FFF;

  @include border-sides(#FCFCFC);
  @include flex(1);
}

header {
  height: 95px;
  border : {
    bottom: $border #E4e4e4
  }

  .logo {
    font-family: sans-serif;
    .red {
      color: #CA0000;
    }
  }
  
  li {
    display: inline-block;
    list-style-type: none;

    a {
      text-decoration: none;
      color: #000;
    }
  }

  @include justify-content(space-around);
  @include align-items(center);
  @include flexbox();
}

.intro {
  height: 305px;
  border: {
    top: 1px solid #EFEFEF;
    bottom: 1px solid #EFEFEF;
  }
}

.latest-work {
  height: 380px;
  border: {
    top: 1px solid #E4E4E4;
    bottom: 1px solid #E7E7E7;
  }
}

.about {
  height: 360px;
  background-color: #E5E5E5;
  border: {
    top: 1px solid #E4E4E4;
    bottom: 1px solid #E2E2E2;
  }

  @include border-sides(#ECECEC);
}

footer {
  height: 210px;
  border-top: 1px solid #F2F2F2;
}

@media only screen and (min-width: 1200px) {
    /* Style adjustments for viewports that meet the condition */
    header, section, footer {
        width: 1200px;
    }
    
    body {
      padding: 0;

      @include align-items(center);
    }
}